body{
    background-color: lightblue;
}
.sub-menu-parent { position: relative; }

.sub-menu { 
  visibility: hidden;
  position: absolute;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  border-radius: 2px;
}

.sub-menu-parent:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}


nav a { color: #93b7bc; display: block; padding: 0.5em 1em; text-decoration: none;}
nav a:hover { color: #F55; }
nav ul,
nav ul li { list-style-type: none; padding: 0; margin: 0; }
nav > ul { background: #2050b2; }
nav > ul > li { display: inline-block; }

.sub-menu {
  background: #2050b2;
}

.filler {
    width: 1px;
    height: 10%;
}
.filler-small{
    height: 5%;
    width: 1px;
}
.left-filler {
    float: left;
    width: 3%;
    height: 1px;
}

.two {
    height: 10%;
}

.three {
    height: 60%;
}

.right_box {
    display: block;
    width: 15%;
    height: auto;
    outline: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 2px;
    color: #333;
    font-size: 01.1rem;
    transition: all 0.1s linear;
    background-color: aliceblue;
    float: right;
    text-align: left;
}

.right_floater {
    float: right;
}

.left_floater {
    float: left;
}

.body {
    display: block;
    width: 70%;
    text-align: center;
    outline: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 2px;
    color: #333;
    font-size: 01.1rem;
    transition: all 0.1s linear;
    background-color: aliceblue;
}

.footer {
    text-align: center;
    outline: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 2px;
    color: #333;
    font-size: 0.8rem;
    transition: all 0.1s linear;
    background-color: aliceblue;
}



text-align-cent {
    text-align: center;
}
